body {
  margin: 0;
  padding: 0;
  padding-top: 7vw;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #5e00d1;
  text-align: left;
  background-color: #f7eaff;
  min-height: 100vh;
  position: relative;
}

.nowrap {
  white-space: nowrap;
}

.height-based {
  background-size: auto 100%;
}

.width-based {
  background-size: 100% auto;
}

nav {
  position: fixed;
  margin: 0;
  top: 0;
  height: 7vw;
  width: 100%;
  background-color: #5e00d1;
  z-index: 1;
}

nav img {
  position: absolute;
  top: 15%;
  left: 25px;
  height: 70%;
}

nav ul {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 30px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 2vw;
}

nav li {
  display: inline;
  margin: 15px;
  text-align: center;
  width: 180px;
  color: #ffffff;
}

nav li a {
  color: #ecceff;
  text-decoration: none;
  transition: all 0.3s;
}

nav li :hover {
  color: #ffffff;
}

.page-wrapper {
  padding-bottom: 5vw;
}

.about .text-illust-wrapper  {
  margin: 0;
  padding-left: 2.5%;
  padding-right: 2.5%;
  font-size: 0;
  width: 95%;
  height: calc(100vh - 7vw);
  background-color: #ffffff;
}

.about .text-illust-wrapper .text {
  display: inline-block;
  width: 60%;
  margin: 0;
  background-color: #ffffff;
}

.about .text-illust-wrapper .text h1 {
  margin-top: 3vw;
  margin-left: 4vw;
}

.about .text-illust-wrapper .text p {
  margin-right: 4vw;
  margin-left: 4vw;
  font-weight: 500;
  font-size: 1.8vw;
}

.about .text-illust-wrapper .text a {
  text-decoration: none;
}

.about .text-illust-wrapper .text a:hover {
  text-decoration: underline;
}

.about .text-illust-wrapper .text ul {
  margin: 0;
}

.about .text-illust-wrapper .text ul p {
  margin-right: 4vw;
  margin-left: 2vw;
  margin-top: -1vw;
  margin-bottom: 2vw;
  font-weight: 500;
  font-size: 1.8vw;
  line-height: 2vw;
}

.about .text-illust-wrapper .illust{
  display: inline-block;
  line-height: 0;
  vertical-align: top;
  width: 40%;
  height: 40vw;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
}

.about {
  margin: 0;
}

.about h1 {
  margin: 0;
  margin-left: 5vw;
  padding: 0;
  padding-top: 1vw;
  font-size: 5vw;
}

.about h2 {
  margin: 0;
  margin-left: 5.8vw;
  padding-top: 0.1vw;
  padding-bottom: 0.9vw;
  font-weight: 500;
  font-size: 1.8vw;
}

.about a {
  text-decoration: none;
  color: #5e00d1;
}

.art-container {
  margin: 0;
  padding-bottom: 5vw;
  width: 100%;
  text-align: center;
  font-size: 0;
}

.w1 {
  width: 25%;
  aspect-ratio: 1/1;
}

.w2 {
  width: 50%;
  aspect-ratio: 2/1;
}

.art-container .height-based:hover {
  background-size: auto 130%;
}

.art-container .width-based:hover {
  background-size: 130% auto;
}

.art-element {
  margin: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}

.art-element .preview-panel, .art-element .preview-panel-titled {
  background-color: #5e00d1;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  position: absolute;
}

.art-element:hover .preview-panel {
  background-color: #5e00d180;
  opacity: 1;
}

.art-element:hover .preview-panel-titled {
  background-color: #5e00d1bc;
  opacity: 1;
}

.art-element a {
  text-decoration: none;
}

.art-element .preview-panel h1 {
  position: absolute;
  right: 2vw;
  bottom: -0.3vw;
  color: #ffffff;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 2.2vw;
}

.art-element .preview-panel-titled .text-wrapper {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.art-element .preview-panel-titled .text-wrapper h1{
  color: #ffffff;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 2.7vw;
  font-weight: 570;
  line-height: 3.5vw;
}

.art-element .preview-panel-titled .text-wrapper p {
  margin-top: -8%;
  color: #ffffffd8;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 1.8vw;
  font-weight: 700;
}

footer {
  margin: 0;
  bottom: 0;
  position: absolute;
  height: 5vw;
  width: 100%;
  background-color: #5e00d1;
  z-index: 1;
}

footer p {
  position: absolute;
  color: #ecceff;
  margin-top: auto;
  margin: 0;
  margin-left: 1.8vw;
  top: 28%;
  font-size: 1.4vw;
}